[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.1"
aiohttp = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
